Options -MultiViews
PassengerResolveSymlinksInDocumentRoot on
#Set this to whatever environment you'll be running in
RailsEnv development
RackBaseURI /
PassengerAppRoot /home1/lifesup5/railsapp/dev/lifesupport
SetEnv GEM_HOME /home1/lifesup5/ruby/gems
