<%= form_tag 'new', :method => 'get', :class => 'well form-search' do %>
    <span id="page-title" class="lead space-right"><a href="?do=search&amp;t=clientes">Clientes</a></span>
    <%= text_field_tag :search, params[:search], :placeholder => 'escriba el criterio de búsqueda', :class => 'input-medium search-query' %>
    <!--<button type="submit" class="btn"><i class="icon-search"></i></button> -->
    <!--<button id="add-record" type="submit" class="btn"><i class="custom cus-add"></i></button> -->
    <%= submit_tag "Buscar", :name => nil %>
<% end %>