<div class="pull-right">
   <%= link_to 'Bitacora', llamada_bitacoras_path(@llamada), :class => 'btn' %>
   <%= link_to 'Hoja de Atencion', llamada_hojadeatencions_path(@llamada), :class => 'btn' %>
   <%= link_to 'Regresar', llamadas_path, :class => 'btn' %>
</div>