<%= render 'nav_menu' %>

<h2>Llamada</h2>

<div class="row">
       <%= render 'show_cliente' %>
       <%= render 'form' %>
</div>
<div style="min-height: 500px;"><br/><br/><%= render :partial => 'layouts/map' %></div>

